{% extends "base/base.html" %}
{% load static %}
{% load comment_block %}
{% load md_extras %}
{% block title %}Blog-{{ post.id }}-{{ post.title }}{% endblock %}
{% block head_script %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <!-- 按需加载语言支持，例如 Python、JS -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-python.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
{% endblock %}
{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet"/>
    <style class="cp-pen-styles">
        .markdown-body strong {
            font-weight: bold;
            color: #4A90E2; /* 或 #D9822B, #7E57C2 中任选其一 */
        }

        .markdown-body blockquote {
            color: #00b894;
        }
    </style>
    <script src="{% static "js/form.js" %}" defer></script>
{% endblock %}
{% block hero %}{% endblock %}

{% block main %}
    <div class="post-detail fixed-grid has-5-cols">
        <div class="grid">
            <div class="cell is-col-start-2 is-col-span-3">
                <div class="message">
                    {% if post %}
                        <div class="message-header">
                            <p class="has-text-primary is-size-3">{{ post.title }}</p>
                            <div>
                                <span>分类：{{ post.category.name }}</span>
                                <span>作者：{{ post.owner.username }}</span>
                            </div>
                        </div>
                        <div class="message-body">
                            <div class="content markdown-body">
                                {{ post.content|markdown_to_html }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="toc-menu cell" style="float: right; width: 300px;">
                {% block sidebar %}
                    {% include 'blog/_toc.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% form_block object %}
    {% list_block object %}
{% endblock %}

{% block extra_script %}
    <script language="javascript">
        const toc = document.querySelector('.toc');
        if (toc) {
            toc.classList.add("menu-list");  // Bulma 的 menu 列表
        }

        toc.querySelectorAll("ul").forEach(li => {
            li.classList.add("menu-list");
            // 如果你想加 icon 或者层级缩进，也可以在这里处理
        });

        // 如果是链接样式调整
        toc.querySelectorAll("a").forEach(a => {
            a.classList.add("has-text-link");  // Bulma 风格的链接颜色
        });
    </script>
{% endblock %}

