.git
.local
.venv
__pycache__
*.py[cod]
*.sqlite*
.env
deploy/.env.production
deploy/secrets
deploy/var
common_static
media
media-private
logs
docs
sundry
node_modules
themes/devenir/static/images/boards/*.png
themes/devenir/static/images/errors/source
themes/devenir/static/images/errors/work
