asgiref==3.9.1
attrs==25.3.0
decorator==5.2.1
Django==5.2.16
django-autocomplete-light==3.12.1
django-debug-toolbar==6.0.0
django-extensions==4.1
django-jazzmin==3.0.1
django-js-asset==3.1.2
django-mathfilters==1.0.0
django-redis==6.0.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
djdt-flamegraph==0.2.13
dnspython==2.7.0
pymongo==4.10.1
python-dotenv==1.1.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.8.1
Faker==37.5.3
gmssl==3.2.2
inflection==0.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
Markdown==3.8.2
Pillow==11.1.0
psycopg2-binary==2.9.10
Pygments==2.19.2
PyYAML==6.0.2
redis==6.4.0
referencing==0.36.2
rpds-py==0.26.0
ruff==0.12.7
self==2020.12.3
setuptools==80.9.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
whitenoise==6.12.0
