@font-face {
    font-family: 'SourceHanSerifCN';

    src: url("../fonts/SourceHanSerifCN-Medium.otf") format("opentype");

    font-weight: 400;
}

@font-face {
    font-family: 'JetBrains Mono';

    src: url("../fonts/JetBrainsMono-Medium.ttf") format("opentype");

    font-weight: 400;
}

@font-face {
    font-family: 'SourceHanSansCN';

    src: url("../fonts/SourceHanSansCN-Medium.otf") format("opentype");

    font-weight: 400;
}