<!DOCTYPE html> <!-- HTML5文档类型声明 -->
<html lang="zh-CN"> <!-- 设置页面语言为中文 -->
<head>
    <meta charset="UTF-8"> <!-- 字符编码声明 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 响应式视口设置 -->
    <!-- 页面标题（建议放在head最前面） -->
    <title>{% block title %}PowerAdapter{% endblock %}</title>
    {% load static %}

    {% block head_link %}
        <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.11.2/src/toastify.min.css">
    {% endblock %}

    {% block mathjax %}
        <script>
            window.MathJax = {
                loader: {
                    load: ['input/tex-base', 'output/chtml', '[tex]/ams']
                },
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']],
                    displayMath: [['$$', '$$'], ['\\[', '\\]']],
                    processEscapes: true,
                    tags: 'ams',
                    packages: {'[+]': ['ams']}
                },
                chtml: {
                    fontURL: 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2'
                }
            };
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js"></script>
    {% endblock %}

    {% block head_script %}
        <script src="https://kit.fontawesome.com/566bf64a73.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <!-- 4. 现代浏览器前缀：<script src="modernizr.js"></script> -->
</head>

<body style="min-height: 100vh; display: flex; flex-direction: column;">

<header>
    <div class="container is-fluid">
        {% block nav %}
            {% include "base/_header.html" %}
        {% endblock %}
        {% block hero %}
            <section class="hero is-primary is-bold">
                <div class="hero-body">
                    <p class="title power-adapter">PowerAdapter Blogs</p>
                    <p class="subtitle">Love Programing, Music & Skateboard!!!!</p>
                </div>
            </section>
            <hr>
        {% endblock %}
    </div>
</header>
<!-- 2. 头部内容：<header> -->
<!-- 3. 主要内容区：<main> -->
<main style="flex: 1">
    {% block main %}
        <!-- Sidebar -->
        <div class="fixed-grid has-5-cols">
            <div class="grid">
                <div class="cell is-col-span-1">
                    {% block sidebar %}
                        {% include 'base/sidebar.html' %}
                    {% endblock %}
                </div>
                <div class="cell is-col-span-3">

                    <div class="container has-background-primary-10">
                        <!-- 主体介绍栏 -->
                        <div class="section">
                            <article class="message is-primary">
                                <div class="message-header">
                                    <p>关于本站</p>
                                </div>
                                <div class="message-body">
                                    这是一个以技术、写作与生活反思为主题的个人博客，采用 Django + Bulma 构建。
                                    内容涵盖编程、开发日志、思想片段、音乐随笔等。欢迎你在这里探索与共鸣。
                                </div>
                            </article>
                        </div>
                        <div class="section tb-padding">
                            {% include "base/cate_cards.html" %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}

    {% block category %}
        <hr>
        <section class="section is-fluid has-background-primary-10">
            <div class="container">
                <div class="columns">
                    {% for cate in cate_navs %}
                        <div class="column is-3">
                            <a href="/category/{{ cate.id }}" class="is-link has-text-info-bold">{{ cate.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
</main>
<!-- 5. 底部版权-->

<footer>
    <hr>
    {% block footer %}
        <div class="container is-fluid">
            <section class="section">
                <div class="content has-text-centered">
                    <p>
                        <strong>PowerAdapter's Blog</strong> by <a
                            href="mailto:sevencdxxiv@qq.com">PowerAdapter</a>.<br>
                        专注于优雅的自动化、加密、算法、与精神节律的构建探索。
                    </p>
                    <p class="is-size-7 has-text-grey">
                        © 2025 PowerAdapter. 内容遵循 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
                                                         target="_blank">CC
                        BY-NC-SA 4.0</a> 协议。<br>
                        最近更新：2025年x月x日<br>
                        “愿代码之美，与精神秩序并行。”
                    </p>
                </div>
            </section>
        </div>
    {% endblock %}

    {% block extra_script %}{% endblock %}

</footer>
</body>
</html>