{% extends 'base/base.html' %}
{% load static %}

{% block title %}Links{% endblock %}

{% block nav %}{% endblock %}
{% block hero %}
    <div class="container">
        <section class="hero is-light is-bold">
            <div class="hero-body has-text-centered">
                <a class="title" href="{% url 'index' %}">PowerAdapter Blogs</a>
                <p class="subtitle">Love Programing, Music & Skateboard!!!!</p>
            </div>
            <hr>
            <div class="container has-background-light">
                <div class="container">
                    <figure class="image">
                        <img src="{% static 'img/bgimg.png' %}">
                    </figure>
                </div>
            </div>
            <progress class="progress is-small is-info" max="100">Everything in progress!</progress>
        </section>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}
{% block main %}
    <div class="container has-background-light">
        <p class="title is-1 has-text-centered has-text-dark">Links</p>

        <div class="section">
            <div class="columns is-multiline is-centered">
                {% for link in link_list %}
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">
                                    <a href="{{ link.href }}" target="_blank" class="has-text-info">
                                        {{ link.title }}
                                    </a>
                                </p>
                                <p class="subtitle is-6">
                                    {{ link.href|slice:":40" }}{% if link.href|length > 50 %}...{% endif %}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block category %}{% endblock %}
