{# Board visual router. Each visual owns an inner animation layer so outer hover glitch remains independent. #}
{% if board.slug == 'skateboard' %}
    {% include 'pages/visuals/_skateboard.html' %}
{% elif board.slug == 'music' %}
    {% include 'pages/visuals/_music.html' %}
{% elif board.slug == 'coding' %}
    {% include 'pages/visuals/_coding.html' %}
{% else %}
    <div class="generic-board-visual">
        <span style="color:{{ board.glitch_color }};">{{ board.name|slice:':3' }}</span>
    </div>
{% endif %}
