{% load static %}

<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
            {% if comment.author_avatar_url %}
            <img class="is-rounded" src="{{ comment.author_avatar_url }}"
                 alt="{{ comment.author_name }} 的头像">
            {% else %}
            <img class="is-rounded" src="{% static 'img/default-avatar.webp' %}"
                 alt="匿名默认头像">
            {% endif %}
        </p>
    </figure>

    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    {% if comment.nickname %}
                        {{ comment.nickname }}
                    {% else %}
                        匿名
                    {% endif %}
                </strong>
                <br/>
                {{ comment.content }}
            </p>
            <small><a>赞</a> · <a>回复</a> · {{ comment.created_time }}</small>
        </div>
    </div>
</article>
