{% load static %}

<div class="comment-item" data-comment-id="{{ comment.id }}">
    <img class="comment-avatar" src="{% static 'img/avatar.jpg' %}" alt="评论头像">
    <div class="comment-body">
        <div>
            <strong class="comment-nickname">
                {% if comment.nickname %}{{ comment.nickname }}{% else %}匿名{% endif %}
            </strong>
            <span class="comment-time">{{ comment.created_time }}</span>
        </div>
        <p class="comment-content">{{ comment.content }}</p>
        {% if request.user.is_authenticated and comment.user_id == request.user.id or request.user.is_superuser %}
            <button class="comment-delete" type="button"
                    data-delete-url="{% url 'Blogs:comment_delete' pk=comment.id %}">删除</button>
        {% endif %}
    </div>
</div>
