<!DOCTYPE html> <!-- HTML5文档类型声明 -->
<html lang="zh-CN"> <!-- 设置页面语言为中文 -->
<head>
    <meta charset="UTF-8"> <!-- 字符编码声明 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 响应式视口设置 -->
    <title>List</title> <!-- 页面标题（建议放在head最前面） -->
    {% extends "base.html" %}
    <!-- 下方区域根据需要添加： -->
    <!-- 1. SEO相关标签：description/meta keywords -->
    <!-- 2. Favicon图标：<link rel="icon" href="..."/> -->
    <!-- 3. CSS样式表：<link rel="stylesheet" href="..."/> -->
    <!-- 4. 现代浏览器前缀：<script src="modernizr.js"></script> -->
</head>
<body>
<h1>List</h1>
{% block title %}
    {% if tag %}
        标签列表页：{{ tag.name }}
    {% elif category %}
        分类列表页：{{ category.name }}
    {% else %}
        首页
    {% endif %}
{% endblock %}

{% block main %}
    <h1>List</h1>
    <ul>Post:
        {% for post in post_list %}
            <li>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                <div>
                    <span>作者：{{ post.owner.username }}</span>
                    <span>分类：{{ post.category.name }}</span>
                </div>
                <p>{{ post.desc }}</p>
            </li>
        {% endfor %}
        {% if page_obj %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %} }
        {% endif %}

    </ul>
{% endblock %}
</body>
</html>