<div class="code-loop">
    <div class="code-row"><span class="code-ln">01</span><code><span class="code-keyword">from</span> becoming <span class="code-keyword">import</span> difference, repetition</code></div>
    <div class="code-row"><span class="code-ln">02</span><code><span class="code-keyword">from</span> desire <span class="code-keyword">import</span> Rhizome, LineOfFlight</code></div>
    <div class="code-row"><span class="code-ln">03</span><code>&nbsp;</code></div>
    <div class="code-row"><span class="code-ln">04</span><code>MOTTO = <span class="code-string">"愿代码之美，与精神秩序并行"</span></code></div>
    <div class="code-row"><span class="code-ln">05</span><code>&nbsp;</code></div>
    <div class="code-row"><span class="code-ln">06</span><code><span class="code-keyword">def</span> <span class="code-func">rhizome</span>(*multiplicities):</code></div>
    <div class="code-row"><span class="code-ln">07</span><code>&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-keyword">for</span> node <span class="code-keyword">in</span> multiplicities:</code></div>
    <div class="code-row"><span class="code-ln">08</span><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-keyword">yield</span> Rhizome.<span class="code-func">connect</span>(node, center=<span class="code-keyword">None</span>)</code></div>
    <div class="code-row"><span class="code-ln">09</span><code>&nbsp;</code></div>
    <div class="code-row"><span class="code-ln">10</span><code><span class="code-keyword">def</span> <span class="code-func">become</span>(code, spirit):</code></div>
    <div class="code-row"><span class="code-ln">11</span><code>&nbsp;&nbsp;&nbsp;&nbsp;beauty = <span class="code-func">repetition</span>(</code></div>
    <div class="code-row"><span class="code-ln">12</span><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code, identity=<span class="code-keyword">False</span>, difference=<span class="code-keyword">True</span></code></div>
    <div class="code-row"><span class="code-ln">13</span><code>&nbsp;&nbsp;&nbsp;&nbsp;)</code></div>
    <div class="code-row"><span class="code-ln">14</span><code>&nbsp;&nbsp;&nbsp;&nbsp;order = spirit.<span class="code-func">compose</span>(hierarchy=<span class="code-keyword">None</span>)</code></div>
    <div class="code-row"><span class="code-ln">15</span><code>&nbsp;</code></div>
    <div class="code-row"><span class="code-ln">16</span><code>&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-keyword">while</span> desire.flows:</code></div>
    <div class="code-row"><span class="code-ln">17</span><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;intensity = <span class="code-func">difference</span>(beauty)</code></div>
    <div class="code-row"><span class="code-ln">18</span><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;escape = LineOfFlight(intensity)</code></div>
    <div class="code-row"><span class="code-ln">19</span><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-keyword">yield</span> <span class="code-func">assemblage</span>(beauty, order, escape)</code></div>
    <div class="code-row"><span class="code-ln">20</span><code>&nbsp;</code></div>
    <div class="code-row"><span class="code-ln">21</span><code><span class="code-comment"># no root · no final form · only becoming</span></code></div>
    <div class="code-row"><span class="code-ln">22</span><code><span class="code-keyword">for</span> world <span class="code-keyword">in</span> <span class="code-func">rhizome</span>(code, music, skate):</code></div>
    <div class="code-row"><span class="code-ln">23</span><code>&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-keyword">yield from</span> <span class="code-func">become</span>(world, spirit)</code></div>
</div>
