<div class="site-compliance" aria-label="网站备案信息">
    <a
        class="site-compliance__link"
        href="https://beian.miit.gov.cn/"
        rel="noreferrer noopener"
        target="_blank"
    >滇ICP备2025068499号-1</a>
    <span class="site-compliance__separator" aria-hidden="true">|</span>
    <a
        class="site-compliance__link site-compliance__link--police"
        href="https://beian.mps.gov.cn/#/query/webSearch?code=53010302001568"
        rel="noreferrer noopener"
        target="_blank"
    >滇公网安备53010302001568号</a>
</div>
